<h1 class="stylem">Woodys Automative Manager Login Page </h1>
<div class="ManagerLogin">
  <title>Manager Login</title>
  <div class="login-container">
    <h1>Manager Login</h1>
    <form>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter password">
      <button type="submit"routerLink="/first">Login</button>
    </form>
  </div>
</div>
