<form>
    <div class="form-row">
      
      
    </div>
    <div class="form-group">
      <label for="inputAddress">Vehicle Number</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Service Type</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
   
      <div class="form-group col-md-4">
        <label for="inputState">Status</label>
        <select id="inputState" class="form-control">
          <option selected>Booked</option>
          <option>...</option>
        </select>
      </div>
   
    </div>
    <div class="form-group">
      <div class="form-check">
        
     
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>