.style{
	margin: 50px;
}
.style1{
	margin: 30px;
	text-align: center;
	font-style:normal;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 300;
	font-size:50px;
	color: rgb(202, 11, 11);
}